*~
node_modules/
config/*
!config/*.md
config/security/*
!config/security/*.md
npm-debug.log
old/
scratch/
logs/
test/auth/*
!test/auth/*.md
migration/mongo-migration-conf.json
.*
#*
app/lib/

*/config/*
*/*/config/*
scratch/





